/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply text-gray-800 bg-gray-100 font-sans leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold m-0;
}

p {
  @apply mb-4;
}

button {
  @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-500;
}

input,
textarea {
  @apply px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-300;
}

/* Custom Brown Background Color */
.bg-brown-600 {
  background-color: #964B00; /* Brown color code */
}

.bg-brown-700 {
  background-color: #7C3A00; /* Darker brown color code for hover */
}



/* Swiper Container */
.mySwiper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 70px; /* Tạo thêm không gian cho pagination bullets */
  overflow: hidden;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}

/* Swiper Slide Styles */
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: visible !important;
}

.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
  transition: all 0.3s ease; /* Thêm hiệu ứng mượt */
  opacity: 1
}

.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.9);
  opacity: 0.7;
  transition: all 0.3s ease; /* Hiệu ứng mượt */
}

/* Navigation Buttons */
/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  @apply bg-brown-600 text-white w-14 h-14 rounded-full flex justify-center items-center shadow-lg transition-transform duration-300 ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-brown-700 w-12 h-12; /* Darker brown on hover */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-sm font-bold text-white; /* Kích thước nhỏ hơn và mũi tên màu trắng */
  line-height: 1; /* Đảm bảo mũi tên được căn giữa theo chiều dọc */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}


/* Pagination Bullets */
.swiper-pagination {
  position: absolute;
  bottom: -20px;
  left: 50%;
}

.image-container {
  width: 200px; /* Kích thước khung cố định */
  height: 300px;
  position: relative; /* Cần thiết cho Image với fill */
  overflow: hidden;
  border-radius: 8px; /* Tùy chọn để bo góc */
}
